/*
 * 
 */
.metolibpoc_wrapper {
    background-image: url('background.png') ;
    
}

.metolibpoc {
	color: white;
	position: relative;
	margin-bottom : 24px;
}

.metolibpoc_title {
	color: white;
	font: 16px/20px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	
}

.metolibpoc_content {

	padding-left: 16px;
	min-height: 48px;
	
}

.metolibpoc_content .fid {
	font: 16px/20px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	min-height: 24px;
	padding-bottom: 2px;
	font-weight: bold;
}
	

.location_content {
	min-height: 24px;

}

.metolibpoc_hover {

	padding-left: 16px;
	min-height: 24px;
	font: 16px/20px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}


.metolibpoc_spinner {
	position: absolute;
	display: none;
	width: 48px;
	height: 48px;
	right: 48px;
	top: 16px;
	padding-left: 16px;
}

.metolibpoc_location {
	position: relative;
	padding-bottom: 16px;
	border-bottom: 1px dashed white;
}


.metolibpoc_content a {
	color: white;
	font: 12px/16px "Open Sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	position: absolute;
	right: 0px;
}


